/* header */
.header_main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 15%;
    width: 100%;
    background-color: $colors_primary;
    color: $colors_secondary;
}
/* headerNavigation */

.headerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin: 15px 0 2px 0;
        padding: 0;
    }
    h3 {
        margin: 0 0 10px 0;
        padding: 0;
    }
}