.questionWrapper {

    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.question {
    width: 30%;
    display:flex;
    flex-direction: column;
    margin: 20px;
    min-height: 150px;
    border-radius: 10px;
    border: 1px solid $colors_tertiary;
    .questionTitle {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: $colors-primary;
        color: $colors_secondary;
        height: 40%;
        text-align: center;
        padding-top: 2%
    }
    .answers {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .answer {
            padding: 10px 20px 10px 20px;
            text-align: center;
            margin: 0 1.3%;
            margin-bottom: 4px;
            background-color: $colors_tertiary;
            width: 40%;
            color: $colors_secondary;
            border-radius: 10px;
            border: 1px solid $colors_secondary;
        } .answer:hover {
            background-color: $colors_secondary;
            color: $colors_tertiary;
            cursor: pointer;
            transition: 0.5s;
        }
    } 
    
    .multipleChoiceAnswers {
        width: 100%;
    }
    
}
