.questionWrapper {
    width: 95%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.question {
    width: 100%;
    min-height: 380px;
    display:flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid $colors_tertiary;
    .questionTitle {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: $colors-primary;
        color: $colors_secondary;
        height: 35%;
        text-align: center;
        padding-top: 2%
    }
    .answers {
        width: 90%;
        display: flex;
        margin-left: 5%;
        margin-top: 5px;
        align-items: center;
        flex-direction: column;
        .answer {

            text-align: center;
            padding: 10px 0;
            margin-bottom: 0;
            background-color: $colors_tertiary;
            width: 100%;
            color: $colors_secondary;
            border-radius: 10px;
            border: 1px solid $colors_secondary;
        } .answer:hover {
            background-color: $colors_secondary;
            color: $colors_tertiary;
            cursor: pointer;
            transition: 0.5s;
        }
    } 
    
    
}
