
/* colors */
//main background color
$colors_primary:  #353b68;
//main font color
$colors_secondary: #e5deda;
//secondary background color
$colors_tertiary: #3e579b;
//tertiary background color
$colors_quarterary: #e3e4e8;



/* fonts */

$fonts_primary: Roboto, sans-serif;
$fonts_secondary: Eczar, serif;



