.header_main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 15%;
    width: 100%;
    background-color: $colors_primary;
    
    .header_navigation {
        background-color: red;
    }
}