@import url('https://fonts.googleapis.com/css?family=Eczar|Roboto');

@import '_variables';
@import 'reset';
@import '_quizSetup';
@import '_header';
@import '_footer';
@import '_questions';
@import '_defaultQuestionHidden';

@media screen and (max-width: 680px) {
    @import './mobile/mobileMain';
}
    
    
    
    
    
    
    
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
.arc path {
    stroke: #fff;
}