@import url("https://fonts.googleapis.com/css?family=Eczar|Roboto");
/* colors */
/* fonts */
* {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4, h5, h6, ol > li, ul > li {
  font-size: 16px; }

/* quiz setup */
form {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  form label {
    margin: 0 10px 0 10px;
    padding: 0 0 10px 0; }
  form select {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #e5deda; }
  form button {
    background-color: #353b68;
    box-shadow: 1px 1px #e5deda;
    color: #e5deda;
    padding: 10px;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 4px; }
  form button:hover {
    cursor: pointer;
    background-color: #e5deda;
    color: #353b68;
    transition: 0.5s;
    box-shadow: 1px 1px #353b68; }

/* header */
.header_main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 15%;
  width: 100%;
  background-color: #353b68;
  color: #e5deda; }

/* headerNavigation */
.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .headerInfo h1 {
    margin: 15px 0 2px 0;
    padding: 0; }
  .headerInfo h3 {
    margin: 0 0 10px 0;
    padding: 0; }

.headerNav {
  width: 100%; }
  .headerNav ul {
    margin-top: 10px;
    list-style: none;
    width: 25%;
    display: flex;
    flex-direction: row; }
    .headerNav ul li {
      padding: 5px 50%;
      cursor: pointer; }
    .headerNav ul .seperator {
      padding: 0;
      margin: 0 10px;
      font-size: 16px; }
    .headerNav ul .navUnit:hover {
      opacity: 0.8;
      transition: 0.2s; }

/* footer */
.footer {
  margin: 0;
  display: flex;
  background-color: #353b68;
  color: #e5deda;
  flex-direction: column;
  margin-top: 45px;
  height: 140px;
  width: 100%;
  justify-content: space-between; }
  .footer .footerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }

.footerInfo {
  align-self: center; }

.otdbLogo img {
  width: 100px;
  height: auto; }

.questionWrapper {
  width: 95%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.question {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #3e579b; }
  .question .questionTitle {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #353b68;
    color: #e5deda;
    height: 35%;
    text-align: center;
    padding-top: 2%; }
  .question .answers {
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-top: 5px;
    align-items: center;
    flex-direction: column; }
    .question .answers .answer {
      text-align: center;
      padding: 10px 0;
      margin-bottom: 0;
      background-color: #3e579b;
      width: 100%;
      color: #e5deda;
      border-radius: 10px;
      border: 1px solid #e5deda; }
    .question .answers .answer:hover {
      background-color: #e5deda;
      color: #3e579b;
      cursor: pointer;
      transition: 0.5s; }

#question_0 {
  display: block; }

#question_1 {
  display: none; }

#question_2 {
  display: none; }

#question_3 {
  display: none; }

#question_4 {
  display: none; }

#question_5 {
  display: none; }

#question_6 {
  display: none; }

#question_7 {
  display: none; }

#question_8 {
  display: none; }

#question_9 {
  display: none; }

#question_10 {
  display: none; }

#question_11 {
  display: none; }

#question_12 {
  display: none; }

#question_13 {
  display: none; }

#question_14 {
  display: none; }

#question_15 {
  display: none; }

#question_16 {
  display: none; }

#question_17 {
  display: none; }

#question_18 {
  display: none; }

#question_19 {
  display: none; }

.aboutPage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 45%;
  margin: 20px auto;
  background-color: #e3e4e8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 1px 5px 1px #353b68;
  padding-bottom: 5em; }
  .aboutPage h1 {
    font-size: 24px;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #e5deda;
    background-color: #353b68;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .aboutPage h2 {
    font-size: 16px;
    padding-left: 2em;
    font-family: Eczar, serif;
    color: #e5deda;
    background-color: #3e579b; }
  .aboutPage p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em; }
    .aboutPage p a {
      color: #353b68;
      text-decoration: none; }
  .aboutPage ul {
    margin-left: 2em;
    list-style-position: inside;
    list-style-type: square;
    color: #353b68; }
    .aboutPage ul li {
      margin-top: 1em; }

@media screen and (max-width: 680px) {
  .header_main {
    height: 20%; }

  form {
    flex-direction: column; }
    form button {
      align-self: center;
      width: 95%;
      margin-left: 0; }

  .headerNav {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .headerNav ul {
      width: 100%;
      justify-content: space-around; }
      .headerNav ul li {
        padding: 0; }
    .headerNav .seperator {
      display: none; }

  .questionWrapper {
    width: 95%;
    margin-left: 2.5%; }

  .question {
    min-height: 280px;
    width: 100%;
    margin: 0;
    padding: 0; }

  .answers {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; }

  .answer {
    padding: 0;
    margin: 0;
    background-color: red;
    color: blue;
    text-align: left;
    border: none; }

  .aboutPage {
    width: 100%;
    border-radius: 0; }
    .aboutPage h1 {
      border-radius: 0; } }
.arc text {
  font: 10px sans-serif;
  text-anchor: middle; }

.arc path {
  stroke: #fff; }

/*# sourceMappingURL=output.css.map */
